
<hr>

<div class="container">
  <div class="row">
    <div class="col-4">
      <a href="https://pinksaltire.com/"><img src="{{ site.baseurl }}/images/pink_saltire_logo.jpg" class="index-image" /></a>
    </div>
    <div class="col-4">
      <a href="http://www.lgbt.scot/"><img src="{{ site.baseurl }}/images/lgbt_scot_logo.jpg" class="index-image" /></a>
    </div>
    <div class="col-4">
      <a href="https://twitter.com/naidheachdanaaa"><img src="{{ site.baseurl }}/images/naidheachdan_aaa_logo.jpg" class="index-image" /></a>
    </div>
  </div>
</div>

<hr>
